extends layout

block content
  div#features
    div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
      div.features
        h1!= 'ASP versions'
        ul.list-group.list-group-flush
          li.feature
            span.short-title!= 'full version'
            a.text-support(src='http://browscap.org/stream?q=Full_BrowsCapINI') 45,995 KB
          li.feature
            span.short-title!= 'normal version'
            a.text-support(src='http://browscap.org/stream?q=BrowsCapINI') 7,748 KB
          li.feature
            span.short-title!= 'lite version'
            a.text-support(src='http://browscap.org/stream?q=Lite_BrowsCapINI') 265kB

    div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
      div.features
        h1!= 'PHP versions'
        ul.list-group.list-group-flush
          li.feature
            span.short-title!= 'full version'
            a.text-support(src='http://browscap.org/stream?q=Full_PHP_BrowsCapINI') 48,584 KB
          li.feature
            span.short-title!= 'normal version'
            a.text-support(src='http://browscap.org/stream?q=PHP_BrowsCapINI') 8,042 KB
          li.feature
            span.short-title!= 'lite version'
            a.text-support(src='http://browscap.org/stream?q=Lite_PHP_BrowsCapINI') 276kB

    div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
      div.features
        h1!= 'others versions'
        ul.list-group.list-group-flush
          li.feature
            span.short-title!= 'full xml file'
            a.text-support(src='http://browscap.org/stream?q=BrowsCapXML') 39,420 KB
          li.feature
            span.short-title!= 'full csv file'
            a.text-support(src='http://browscap.org/stream?q=BrowsCapCSV') 96,344 KB
          li.feature
            span.short-title!= 'full json file'
            a.text-support(src='http://browscap.org/stream?q=BrowsCapJSON') 56,955 KB
          li.feature
            span.short-title!= 'all files as zip'
            a.text-support(src='http://browscap.org/stream?q=BrowsCapZIP') 9,231 KB

block footer
  footer.clearfix.col-xs-12
    p
      ul.menu
        li
          a(href='/') Home
        li
          span Downloads
        li
          a(href='/features') Browser Features
    p.
      Created by <a href="http://github.com/mimmi20/">Thomas Müller</a>.
