extends layout

block content
  div.row#features
    div.group.col-xs-12
      section.card
        h1!= 'general information'
        ul.list-group.list-group-flush
          li.list-group-item
            span.short-title!= 'User Agent:'
            span.text-support= ua

    div.card-columns
      div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
        section.card
          h1.card-header!= 'your browser'
          div.card-block
            ul.list-group.list-group-flush
              li.list-group-item
                span.short-title!= 'browser name:'
                span.text-support= browser['Browser']
              li.list-group-item
                span.short-title!= 'version:'
                span.text-support= browser['Version']
              li.list-group-item
                span.short-title!= 'manufacturer:'
                span.text-support= browser['Browser_Maker']
              li.list-group-item
                span.short-title!= 'type:'
                span.text-support= browser['Browser_Type']
              li.list-group-item
                span.short-title!= 'is a bot?'
                span.text-support= browser['Crawler']

      div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
        section.card
          h1.card-header!= 'your rendering engine'
          div.card-block
            ul.list-group.list-group-flush
              li.list-group-item
                span.short-title!= 'name:'
                span.text-support= browser['RenderingEngine_Name']
              li.list-group-item
                span.short-title!= 'version:'
                span.text-support= browser['RenderingEngine_Version']
              li.list-group-item
                span.short-title!= 'manufacturer:'
                span.text-support= browser['RenderingEngine_Maker']

      div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
        section.card
          h1.card-header!= 'your os'
          div.card-block
            ul.list-group.list-group-flush
              li.list-group-item
                span.short-title!= 'name:'
                span.text-support= browser['Platform']
              li.list-group-item
                span.short-title!= 'version:'
                span.text-support= browser['Platform_Version']
              li.list-group-item
                span.short-title!= 'manufacturer:'
                span.text-support= browser['Platform_Maker']

    div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
      section.card
        h1.card-header!= 'your device'
        div.card-block
          ul.list-group.list-group-flush
            li.list-group-item
              span.short-title!= 'device:'
              span.text-support= browser['Device_Name']
            li.list-group-item
              span.short-title!= 'type:'
              span.text-support= browser['Device_Type']
            li.list-group-item
              span.short-title!= 'manufacturer:'
              span.text-support= browser['Device_Maker']
            li.list-group-item
              span.short-title!= 'brand:'
              span.text-support= browser['Device_Brand_Name']
            li.list-group-item
              span.short-title!= 'code name:'
              span.text-support= browser['Device_Code_Name']
            li.list-group-item
              span.short-title!= 'is mobile?'
              span.text-support= browser['isMobileDevice']
            li.list-group-item
              span.short-title!= 'is a tablet?'
              span.text-support= browser['isTablet']

    div.group.col-xs-12
      section.card
        h1!= 'missing something?'
        ul.list-group.list-group-flush
          li.list-group-item
            span!= 'Please report any missing user agents on '
            a(src='https://github.com/browscap/browscap/issues') our GitHub tracker.

block footer
  footer.col-xs-12
    section.card
      p
        ul.menu
          li
            span Home
          li
            a(href='/downloads') Downloads
          li
            a(href='/features') Browser Features
      p.
        Created by <a href="http://github.com/mimmi20/">Thomas Müller</a> as a nodeJs port of <a href="http://haz.io/">haz.io</a>.
        Powered by <a href="http://modernizr.com/">Modernizr 3</a>.
