extends layout

block content
  div#features
    div.group.col-xs-12
      div.features
        h1!= 'general information'
        ul
          li.feature
            span.short-title!= 'User Agent:'
            span.text-support= ua

    div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
      div.features
        h1!= 'your browser'
        ul
          li.feature
            span.short-title!= 'browser name:'
            span.text-support= browser['Browser']
          li.feature
            span.short-title!= 'version:'
            span.text-support= browser['Version']
          li.feature
            span.short-title!= 'manufacturer:'
            span.text-support= browser['Browser_Maker']
          li.feature
            span.short-title!= 'type:'
            span.text-support= browser['Browser_Type']
          li.feature
            span.short-title!= 'is a bot?'
            span.text-support= browser['Crawler']

    div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
      div.features
        h1!= 'your rendering engine'
        ul
          li.feature
            span.short-title!= 'name:'
            span.text-support= browser['RenderingEngine_Name']
          li.feature
            span.short-title!= 'version:'
            span.text-support= browser['RenderingEngine_Version']
          li.feature
            span.short-title!= 'manufacturer:'
            span.text-support= browser['RenderingEngine_Maker']

    div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
      div.features
        h1!= 'your os'
        ul
          li.feature
            span.short-title!= 'name:'
            span.text-support= browser['Platform']
          li.feature
            span.short-title!= 'version:'
            span.text-support= browser['Platform_Version']
          li.feature
            span.short-title!= 'manufacturer:'
            span.text-support= browser['Platform_Maker']

    div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
      div.features
        h1!= 'your device'
        ul
          li.feature
            span.short-title!= 'device:'
            span.text-support= browser['Device_Name']
          li.feature
            span.short-title!= 'type:'
            span.text-support= browser['Device_Type']
          li.feature
            span.short-title!= 'manufacturer:'
            span.text-support= browser['Device_Maker']
          li.feature
            span.short-title!= 'brand:'
            span.text-support= browser['Device_Brand_Name']
          li.feature
            span.short-title!= 'code name:'
            span.text-support= browser['Device_Code_Name']
          li.feature
            span.short-title!= 'is mobile?'
            span.text-support= browser['isMobileDevice']
          li.feature
            span.short-title!= 'is a tablet?'
            span.text-support= browser['isTablet']

block footer
  footer.col-xs-12
    p.
      Created by <a href="http://github.com/mimmi20/">Thomas Müller</a> as a nodeJs port of <a href="http://haz.io/">haz.io</a>.
      Powered by <a href="http://modernizr.com/">Modernizr 3</a>.
